@font-face {
    font-family: 'helvetica';
    src: url('../assets/fonts/helvetica-255/Helvetica.ttf') format('truetype');
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'helvetica';
    font-weight: 500;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    box-shadow: 0 1px 20px rgba(0,0,0,0.5);
}

.adminContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90dvh;
}

.adminContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.adminForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto; 
}

.formControl {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.currentImage {
    display: flex;
    flex-direction: column;
}

.formControl input {
    padding: 0.5rem;
}

.adminForm button {
    padding: .5rem 1rem;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
}

.navList li a {
    color: black;
    font-weight: 900;
    transition: all .5s ease;
}

.navList li a:hover {
    color: blue;
}

