@font-face {
    font-family: 'helvetica';
    src: url('../assets/fonts/helvetica-255/Helvetica.ttf') format('truetype');
    font-style: normal;
}


body {
    font-family: 'helvetica';
    font-weight: 500;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}


.loginContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: #FFF;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.5);
    padding: 2rem;
}

.loginContent h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

.formControl {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 0 auto;
}

.formControl input {
    padding: 0.3rem;
}

.loginForm button {
    padding: .5rem 1rem;
}